{% extends 'base.html.twig' %}

{% block title %}{{ 'title.full_data'|trans }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row bg-dark text-white p-2">
            <div class="col">
                WEATHER API
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>

        <h1>{{ 'title.full_data'|trans }}</h1>

        <div class="row p-4">
            <div class="col">
                <table class="table table-dark table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'table.city.id'|trans }}</th>
                        <th>{{ 'table.city.name'|trans }}</th>
                        <th>{{ 'table.measurement.datetime'|trans }}</th>
                        <th>{{ 'table.temperature'|trans }}</th>
                        <th>{{ 'table.wind.speed'|trans }}</th>
                        <th>{{ 'table.wind.direction'|trans }}</th>
                        <th>{{ 'table.relative_humidity'|trans }}</th>
                        <th>{{ 'table.total_rainfall'|trans }}</th>
                        <th>{{ 'table.pressure'|trans }}</th>
                    </tr>

                    {% if data is not defined %}
                        <tr>
                            <td colspan="3">{{ 'table.no_results_found'|trans }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ data.cityId }}</td>
                            <td>{{ data.city }}</td>
                            <td>{{ data.getMeasurementDateTime|date('Y-m-d H:i:s') }}</td>
                            <td>{{ data.temperature }} ℃</td>
                            <td>{{ data.getWindSpeed }} m/s</td>
                            <td>{{ data.getWindDirection }}</td>
                            <td>{{ data.getRelativeHumidity }} %</td>
                            <td>{{ data.getTotalRainfall }} mm</td>
                            <td>{{ data.getPressure }} hPa</td>
                        </tr>
                    {% endif %}
                    </thead>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
