{% extends 'base.html.twig' %}

{% block title %}{{ 'title.temperature'|trans }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row bg-dark text-white p-2">
            <div class="col">
                WEATHER API
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>

        <h1>{{ 'title.temperature'|trans }}</h1>

        <div class="row p-4">
            <div class="col">
                <table class="table table-dark table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'table.city.name'|trans }}</th>
                        <th>{{ 'table.measurement.datetime'|trans }}</th>
                        <th>{{ 'table.temperature'|trans }}</th>
                    </tr>

                    {% if data is not defined %}
                        <tr>
                            <td colspan="3">{{ 'table.no_results_found'|trans }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ data.city }}</td>
                            <td>{{ data.getMeasurementDateTime|date('Y-m-d H:i:s') }}</td>
                            <td>{{ data.temperature }} ℃</td>
                        </tr>
                    {% endif %}
                    </thead>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
